@page "/ConfiguratorController"

<h3>Configuration Controller</h3>

@using BedrockServerConfigurator
@inject Configurator config

<div class="text-center">
    <button @onclick="LoadServers" class="btn btn-success" disabled="@(!config.AllServerDirectories().Any())">Load all servers</button>
    <button @onclick="Kill" class="btn btn-danger">Kill all servers</button>
    <button @onclick="New" class="btn btn-outline-secondary">New server</button>
    <button @onclick="Download" class="btn btn-outline-secondary">Download template server</button>
</div>

<div class="row">
    <h2 class="col-md-12">Available servers</h2>
    @foreach (var server in config.AllServerDirectories())
    {
        <div class="col-md-2">
            @server
        </div>
    }
</div>

<div class="row">
    <h2 class="col-md-12">Loaded servers</h2>
    @foreach (var server in config.AllServers)
    {
        <div class="col-md-4 card">
            <ServerController MinecraftServer="server.Value"></ServerController>
        </div>
    }
</div>

@code {
    // if there are no buttons some features should be disabled
    // notify when server downloaded/created

    private void LoadServers()
    {
        config.LoadServers();
    }

    private void Kill()
    {
        Utilities.RunACommand("taskkill /f /fi \"imagename eq bedrock_server.exe\"", "killall bedrock_server").Start();
    }

    private void New()
    {
        config.NewServer();

        // show that new server created
    }

    private void Download()
    {
        try
        {
            config.DownloadBedrockServer();
        }
        catch (Exception e)
        {

        }
    }
}
