@inject Configurator config

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Bedrock Server Configurator</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-cloud" aria-hidden="true"></span> Server configurator
            </NavLink>
            @foreach (var server in config.AllServers)
            {
                string page = $"ServerPage/{server.Key}";

                <NavLink class="nav-link" href="@(page)" Match="NavLinkMatch.All">
                    <span class="oi oi-bolt"></span> @server.Value.Name
                </NavLink>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
