<div class="card">
    <div class="card-body">
        <h5 class="card-title">Spawn mobs</h5>
        <label for="mob-name">Name of mob</label>
        <input type="text" id="mob-name" />

        <label for="amount">Amount of mobs</label>
        <input type="number" id="amount" />
    </div>
</div>

@code {
    // this file is used for ideas how a microgame could be created on the UI
}
